<!DOCTYPE html>
<html>
<head>
  <title>MultipageForm</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="outer">
    <div id="content">
      <%= yield %>
    </div>
  </div>

</body>
</html>
